<div class="container">
  <div class="block-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 block">
        <div class="register-container">
          <app-logo [customWidth]="width"></app-logo>
          <div class="register-container__title">
            <h1>Registrarme con mi cuenta de Amazon</h1>
          </div>
          <div class="register-container__form">
            <form>
              <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <!-- <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp"> -->

                <div class="input-group mb-3">
                  <input type="password" class="form-control" id="inputPassword" aria-describedby="basic-addon2" #inputPassword>
                  <span class="input-group-text" id="icon-toggle" (click)="toggleType(inputPassword)">{{label}}</span>
                </div>

                <div id="passwordHelp" class="form-text">Debe tener al menos 8 caracteres.</div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" (click)="sendForm()">Registrarme</button>
              </div>
              <div class="my-4 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar mis datos</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 block">
        <div class="banner">
          <div class="banner__background-image"></div>
          <div class="banner__background-overlay"></div>
          <div class="banner__caption">
            <div class="banner__caption--title">
              <h2>Registrate y obten un audiolibro gratis</h2>
            </div>
            <div class="banner__caption--content">
              <p>Escuchar tus audiolibros favoritos, es mas facil que nunca.</p>
              <span>Al registrate, tu membresia incluye 30 dias con 1 audiolibro + Audible Originals selectos
                totalmente
                gratis.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>